* {
    appearance: none;
    background: transparent none;
    box-sizing: border-box;
    border: 0 solid #000;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: inherit;
    user-select: none;
}
body {
    background-color: #FFF;
    color: #000;
    font: 16px/20px sans-serif;
    text-decoration: none;
}
input, textarea {
    border: 1px solid #CCC;
    padding: 4px;
    user-select: text;
}
::placeholder {
    opacity: .5;
}
